<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/site/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%=  favicon_link_tag 'yes.ico' %>

    <title>YES</title>
</head>
<body>
    
    <!--%= render 'devise/registrations/navbar'%-->
    <%= render 'layouts/site/navbar'%>
   


	<div class="container">
		<div class="row mb-100">
			<div class="col-sm-12 content"><br><br>
				<div class="titulo">
					<h3>BEM VINDO! AO MELHOR PORTAL DE NEGÓCIOS BRASILEIRO</h3>
				</div>
				<br>
				<br>
				<p>Se você deseja divulgar o seu trabalho ou a sua empresa ou ate entrar no mercado cadastre-se em um dos maiores portais de negócios brasileiros. </p>
				
				<p>Preencha o formulário abaixo e comece a anunciar agora mesmo. É fácil e rápido!</p>
			</div>
			<div class="col-sm-6">
				<img src="/assets/site/cad.jpg" width="500">
			</div>
			<div class="col-sm-6">
			 	<h2 style="color: #5892ca; font-size: 25px;">INSCREVA-SE</h2>

					<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
					  <%= f.error_notification %>

					  <div class="form-inputs">
					  	<br>
					  	<%= f.input :name, required: true, autofocus: true %>
					    <%= f.input :email, required: true, autofocus: true %>
					    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
					    <%= f.input :password_confirmation, required: true %>
					  </div>

					  <div class="form-actions">
					    <%= f.button :submit, "Cadastrar" %>
					  </div>
					<% end %>

					
						</div>
					</div>
				</div>

</body>
</html>
